@import url("~leaflet/dist/leaflet.css");

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.leaflet-attribution-flag {
  display: none !important;
}

.ant-layot-sider-children {
  padding-top: 100px;
}